{{outlet}}
{{moderator-nav}}

<div id="panel-holder" class="container">
   <h3>Članovi</h3>
   <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
   </h5>

   <div class="panel-section row">
      <div class="col-md-6 col-sm-8 col-xs-12">
         <h3>Dodaj novog člana</h3>
      
         <form method="POST" action="http://localhost:8080/moderator/clanovi/dodaj">
          <select name="korisnicko-ime" class="form-control" class="select-korisnicko-ime"></select>

            <input required type="text" name="broj_clanske_karte" class="form-control" placeholder="Broj clanske karte">
            <input required type="date" name="datum_rodjenja" class="form-control" placeholder="Datum rodjenja">
            <input required type="text" name="adresa" class="form-control" placeholder="Adresa">
            <input required type="text" name="mjesto_stanovanja" class="form-control" placeholder="Mjesto stanovanja">
            <input required type="text" name="broj_telefona" class="form-control" placeholder="Broj telefona">
            <input required type="text" name="ustanova" class="form-control" placeholder="Ustanova">
            <input required type="text" name="email" class="form-control" placeholder="Email">

            <input type="submit" name="dodaj-novog-clana" class="btn btn-success" value="Dodaj novog člana"> 
         </form>
      </div>

      <div class="col-md-6 col-sm-4 hidden-xs"></div>
   </div>
   
   <div class="panel-section">
      <h3>Pregled svih članova</h3>
      <table class="table table-striped">
         <thead>
            <tr>
              <th>Ime</th>
              <th>Prezime</th>
              <th>Broj članske karte</th>
              <th>Adresa</th>
              <th>Mjesto stanovanja</th>
              <th>Broj telefona</th>
              <th>Email</th>
              <th>Opcije</th>
            </tr>
         </thead>
         <tbody>
            {{#each model as |clan|}}
              <tr>
              <td>{{clan.osoba.ime}}</td>
              <td>{{clan.osoba.prezime}}</td>
              <td>{{clan.broj_clanske_karte}}</td>

              <td>{{clan.adresa}}</td>
              <td>{{clan.mjesto_stanovanja}}</td>
              <td>{{clan.broj_telefona}}</td>
              <td>{{clan.email}}</td>
              <td>
                  <a data-id="{{clan.id}}" class="btn btn-default brisanje-clana" title="Brisanje">
                  <span class="glyphicon glyphicon-remove"></span>
                  </a>
               </td>
              </tr>
            {{/each}}
         </tbody>
      </table>
   </div>
</div>

<script type="text/javascript" src="/assets/js/js-osoba-clan.js"></script>
<script type="text/javascript" src="/assets/js/js-moderator-clanovi.js"></script>