{{moderator-nav}}

<div id="panel-holder" class="container">
	<h3>Literatura</h3>
	<h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</h5>

	<div class="panel-section row">
      <div class="col-md-6 col-sm-8 col-xs-12">
         <h3>Dodaj novu literaturu</h3>
      	
      	<div>
            <select name="kategorija" id="kategorija" class="form-control" class="select-kategorija"></select>
            
            <input required type="text" name="autor-literature" id="autor-literature" class="form-control" placeholder="Autor">
            <input required type="text" name="naziv-literature" id="naziv-literature" class="form-control" placeholder="Naziv">
            <input required type="text" name="izdavac" id="izdavac" class="form-control" placeholder="Izdavac">
            <input required type="number" name="godina-izdavanja" id="godina-izdavanja" class="form-control" placeholder="Godina izdavanja">
            <input required type="number" name="broj-strana" id="broj-strana" class="form-control" placeholder="Broj strana">
            <input required type="text" name="komentar" id="komentar" class="form-control" placeholder="Komentar">
            <input required type="text" name="mogucnost-preuzimanja" id="mogucnost-preuzimanja" class="form-control" value="0">
            <input required type="date" name="datum-unosa" id="datum-unosa" class="form-control" placeholder="Datum unosa">

            <button id="dodaj-novu-literaturu" class="btn btn-success">Dodaj novu literaturu</button> 
         </div>
      </div>
      <div class="col-md-6 col-sm-4 hidden-xs"></div>
   </div>
<hr>

	<div class="panel-section">
		<h3>Pregled literature</h3>
		<h5>Pregled sve literature ili prema odabranoj kategoriji.</h5>

		<div class="row">
			<div class="form-group col-md-6">
				<label for="filter-kategorija">Izabrana kategorija:</label>
				<select id="filter-kategorija" name="naziv_literature" class="form-control select-kategorija">
					<option value="0">Sve</option>
				</select>
			</div>
			<div class="col-md-6 col-sm-4 hidden-xs"></div>
		</div>
		<table class="table table-striped">
		    <thead>
			    <tr>
				    <th>Naziv</th>
				    <th>Autor</th>
				    <th>Izdavac</th>
				    <th>Kategorija</th>
				    <th>Potkategorija</th>
				    <th>Opcije</th>
			    </tr>
		    </thead>
		    
		    <tbody id="literatura-lista">
		      {{#each model as |literatura|}}
		      <tr>
			      <td>{{literatura.naziv_literature}}</td>
			      <td>{{literatura.autor_literature}}</td>
			      <td>{{literatura.izdavac}}</td>

			      <td>{{literatura.kategorija.naziv_kategorije}}</td>
			      <td>{{literatura.kategorija.potkategorija}}</td>

			      <td>
					  <a data-id="{{literatura.id}}" class="btn btn-default download-literature" title="Mogucnost preuzimanja">
			            <span class="glyphicon glyphicon-download-alt"></span>
			          </a>
			          <a data-id="{{literatura.id}}" class="btn btn-default brisanje-literature" title="Brisanje">
			            <span class="glyphicon glyphicon-remove"></span>
			          </a>
			      </td>
		      </tr>
		      {{/each}}
		  </tbody>
		</table>
	</div>
</div>

<script type="text/javascript" src="/assets/js/js-literatura.js"></script>