{{navbar-korisnik}}
{{log model.literatura}}
<div class="front-page">
	<div class="container">
		<div class="row">
			<h3 class="available-literature"> Dostupna literatura </h3>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Naziv literature</th>
							<th>Autor literature</th>
							<th>Kategorija</th>
							<th>Potkategorija</th>
						</tr>
					</thead>

						{{#each model as |model|}}
						<tr>
							<td>{{#link-to "clan.show" model.id}} {{model.naziv_literature}} {{/link-to}}</td>
							<td>{{model.autor_literature}}</td>
							<td>{{model.kategorija.naziv_kategorije}}</td>
							<td>{{model.kategorija.potkategorija}}</td>
						</tr>
						{{/each}}											
				</table>
			</div>
		</div>
	</div>
</div>
