{{log model.literatura}}
<section>
    <div class="container">
        <div class = "row">
            <h1 class = "bg-txt">Detalji o literaturi</h1>

            <h2 class = "md-txt">{{model.literatura.naziv_literature}} {{model.literatura.autor_literature}}</h2>
          <!--  <p class = "sm-txt" align = "justify"><br> Izdavač: {{model.literatura.izdavac}} <br>
            Godina izdavanja: {{model.literatura.godina_izdavanja}}
             <br>
            Broj strana: {{model.literatura.broj_strana}}
             <br>
            Mogućnost preuzimanja: {{model.literatura.mogucnost_preuzimanja}}
             <br>
            Datum povratka: {{model.literatura.datum_povratka}}
            </p>
             -->
        </div>
    </div>
</section>